@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

:root {
  --background: rgb(255, 249, 199);
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  color: rgb(255, 249, 199);
  background-color: black;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.05rem;
}
p {
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 3.2rem;
}
hr {
  background-color: #000;
  height: 4px;
  width: 60vw;
  border-radius: 4px;
  border-style: none;
  margin-top: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found-wrapper {
  display: flex;
  justify-content: center;
}

.not-found {
  width: 70vw;
  text-align: center;
  margin-top: 15vh;
}
.not-found > h1 {
  color: black;
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5vh;
}
.not-found > p {
  font-size: 1.75rem;
}

.link {
  color: black;
  font-size: 1.75rem;
  font-weight: bold;
}
.link:hover {
  color: black;
  transition: none;
}
